*/desktop.ini
desktop.ini
out
*.log
**/*.log
CNStarboundCreatorUI/TestFiles/RecipeCreator/CreatePath
CNStarboundCreatorUI/TestFiles/PandC/PandCCreatePath
**/.idea/workspace.xml
**/.idea/tasks.xml