[
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichFlrWhtMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichFlrFoCMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichFlrSgrMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichFlrMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichWhtFoCMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichWhtSgrMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichWhtMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichFoCSgrMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichFoCMFM"
  },
  {
    "op" : "add",
    "path" : "/possibleOutput/-",
    "value" : "sandwichSgrMFM"
  }
]