{
  "possibleOutput" : [ "sandwichFlrWhtFoCSgrMFM", "sandwichFlrWhtFoCMFM", "sandwichFlrWhtSgrMFM", "sandwichFlrWhtMFM", "sandwichFlrFoCSgrMFM", "sandwichFlrFoCMFM", "sandwichFlrSgrMFM", "sandwichFlrMFM", "sandwichWhtFoCSgrMFM", "sandwichWhtFoCMFM", "sandwichWhtSgrMFM", "sandwichWhtMFM", "sandwichFoCSgrMFM", "sandwichFoCMFM", "sandwichSgrMFM" ]
}